.create-button {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    cursor: pointer;
    color: white;
    box-shadow: 0 8px 24px rgb(142, 102, 234);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    /* Controla el hover y el active */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    animation: pulse 2s infinite;
    -webkit-tap-highlight-color: transparent;
    /* Para que no se vea el efecto de tap en el boton */
}

.icon {
    width: 28px;
    height: 28px;
    user-select: none;
}

/* Si el usuario tiene el raton */
@media (hover: hover) and (pointer: fine) {
    .create-button:hover {
        transform: scale(1.2) rotate(90deg);
        box-shadow: 0 12px 32px rgba(102, 126, 234, 0.6);
    }
}

.create-button:active {
    transition: none;

    .icon{
        transform: scale(0.7);
    }
}

@keyframes pulse {

    0%,
    100% {
        box-shadow: 0 8px 24px rgba(102, 126, 234, 0.4);
    }

    50% {
        box-shadow: 0 8px 32px rgba(102, 126, 234, 0.6);
    }
}